@import '../../styles/global';

.passwordchange{

    &__form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-div1{
            display:flex;
            flex-direction: column;  
        }

        &-input{
            padding:8px;
            border-radius: 100px;
        }

        &-button{
            padding:8px;
            border-radius: 100px;
            background-color: #ffffff;
            color: #000000;
        }

        &-errortext{
            color:#ffffff;
            display: flex;
            justify-content: center;
        }
    }
}