@import '../../styles/fonts';
@import '../../styles/global';
@import '../../styles/mixins';
@import '../../styles/partials';
@import '../../styles/variables';

.passwordchange{

    &__form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-div1{
            display:flex;
            flex-direction: column;  
        }

        &-input{
            margin-top: 8px;
            padding:8px;
            border-radius: 100px;
            border:none;
        }

        &-button{
            margin-top: 8px;
            padding:8px;
            border-radius: 100px;
            background-color: $nav-background;
            color: $card-background;
        }

        &-errortext{
            color:$nav-background;
            display: flex;
            justify-content: center;
        }
    }
}