@import '../../styles/fonts';
@import '../../styles/global';
@import '../../styles/mixins';
@import '../../styles/partials';
@import '../../styles/variables';

.passwordforget{
    height:95vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $body-background;

    &__card{
        width: 400px;
        height: 400px;
        border: 2px solid $nav-background;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: $card-background;
    }

    &__header{
        color: $nav-background;
    }

    &__form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-input{
            padding:8px;
            border-radius: 100px;
            width:50%;
            border:none;
        }

        &-button{
            padding:8px;
            border-radius: 100px;
            background-color: $nav-background;
            color: $card-background;
            border:none;
        }

        &-errortext{
            color:$nav-background;
            display: flex;
            justify-content: center;
        }

        &-text{
            &-link{
                text-decoration: none;
                color: $nav-background;
            }
        }
    }
}