@import '../../styles/global';

.passwordforget{
    height:96vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;

    &__card{
        width: 400px;
        height: 400px;
        border: 2px solid #ffffff;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
    }

    &__header{
        color:#ffffff;
    }

    &__form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-input{
            padding:8px;
            border-radius: 100px;
            width:50%;
        }

        &-button{
            padding:8px;
            border-radius: 100px;
            background-color: #ffffff;
            color: #000000;
        }

        &-errortext{
            color:#ffffff;
            display: flex;
            justify-content: center;
        }

        &-text{
            &-link{
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}