@import '../../styles/fonts';
@import '../../styles/global';
@import '../../styles/mixins';
@import '../../styles/variables';

.singleproduct{
    height:95vh;
    @include flexJcenterAcenter;
    background-color: $body-background;
    
    &__card{
        &-back{
            display:flex;
            align-self: flex-start;
            justify-items: flex-start;
            width:25px;
            height:25px;
            
        }
        &-block{
            @include flexAcenter;
            flex-direction: column;
            justify-content: flex-start;
            width:500px;
            height:500px;
            border: 2px solid $nav-background;
            border-radius: 20px; 
            padding:16px;
            background-color: $card-background;
            overflow: scroll;
            margin:0 16px;

            &-cart{
                width:30px;
                height:30px;
                cursor: pointer;
                display: flex;
                align-self: flex-end;
            }

            &-div1{
                &-image{
                    width:300px;
                    height:300px;
                }
            }
            &-div2{
                &-title{
                    @include flexJcenter;
                }
                &-price{
                    display:flex;
                    justify-content: flex-end;
                }
            }
        }
    }

    &__form{
        &-formfield{
            display:flex;
            flex-direction: column;
            width:100%;
            &-div{
                display:flex;
                flex-direction: column;
                &-input{
                    padding:8px;
                    margin-bottom:4px;
                    border-radius: 100px;
                    border: none;
                }
                &-textarea{
                padding:8px;
                border-radius: 100px;
                border: none;
                margin-bottom:4px;
                }
            }
            &-button{
                padding:8px;
                border-radius: 100px;
                background-color: $nav-background;
                color: $card-background;
                border:none;
            }
        }
        &-div4{
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            padding:8px;
            border-radius: 100px;
            border: none;
            margin-top:8px;

        }

    }
}