@import '../../styles/fonts';
@import '../../styles/global';
@import '../../styles/mixins';
@import '../../styles/partials';
@import '../../styles/variables';

.nav{
    padding:0 180px;
    height:5vh;
    background-color: $nav-background;
}

.navauth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;

    &__form{
        &-input{
        border-radius: 20px;
        padding:8px;
        }
    }

    &__list{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;

        &-item{
            padding:8px;
            
            &-link{
                text-decoration: none;
                color: $selected-link;
            }
    
            &-button{
                padding:8px;
                border-radius: 100px;
                background-color: $body-background;
                color: $nav-background;
                border:none;
            }
        }

    }
}