@import '../../styles/fonts';
@import '../../styles/global';
@import '../../styles/mixins';
@import '../../styles/variables';

.home{
    padding:0 180px;
    background-color: $body-background;

    &__header{
        @include flexJcenter;
        width:100%;
    }

    &__form{
        @include flexJcenter;
        flex-wrap: wrap;
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:250px;
        height:300px;
        margin:8px;
        border: 2px solid $nav-background;
        border-radius: 20px;
        padding:8px;
        background-color: $card-background;

        &-div1{
            @include flexJcenter;
            align-items: center;
            height: 100px;
        }

        &-div2{
            @include flexJcenter;
            flex-direction: column;
            height:100%;
        }

        &-image{
            width: 100px;
            height: 100px;
        }

        &-price{
            display:flex;
            @include flexJendAend;
            padding:8px 0;
            width:100%;
            height:100%;
        }

        &-shoppingcart{
            width: 25px;
            height: 25px;
        }

        &-div3{
            display:flex;
            @include flexJendAend;

            &-inventory{
                display: flex;
                align-items: center;
            }

            &-input{
                width:25px;
                margin:0 8px;
            }

            &-icons{
                width:20px;
                height:20px;
            }
            &-cart{
                width:30px;
                height:30px;
                cursor: pointer;
            }
        }
    }

    &__card:after {
        content: '';
        flex:auto;
    }
}