@import '../../styles//global';

.allproducts{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:200px;
        height:250px;
        margin:8px;
        border: 1px solid #000000;
        border-radius: 20px;
        padding:8px;

        &-div1{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 175px;
        }

        &-div2{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-image{
            width: 100px;
            height: 100px;
        }

        &-description{
        font-size: .9rem;
        padding: 8px 0;
        }

        &-price{
            display:flex;
            align-self: flex-end;
            padding:8px 0;
        }

        &-shoppingcart{
            width: 25px;
            height: 25px;
        }
    }

    &__card:after {
        content: '';
        flex:auto;
    }
}