@import '../../styles//global';

.landing{
    background-color: #000000;
    height:96vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header{
        color: #ffffff;
    }

    &__text{
        color: #ffffff;
    }
}