@font-face {
	font-family: "fira";
	src: url("../assets/fonts/FiraSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "firaBold";
	src: url("../assets/fonts/FiraSans-Regular.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "montserratBold";
	src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}