//------------------------------
// Color palette
//------------------------------

$card-background: #F0EFEA;
$body-background: #9D9E9A;
$selected-link: #DC982C;
$nav-background-aside: #8F684F;
$nav-background: #262325;